streamlit==1.37.1
python-dotenv==1.0.1
azure-storage-blob==12.19.1
google-generativeai==0.8.2
pinecone-client==3.2.2
langchain==0.2.14
langchain-core==0.2.24
langchain-community==0.2.11
numpy==1.26.4
pymupdf==1.24.8
tqdm==4.66.5
